<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Sans+TC"
    />
    <title>BYJT</title>
  </head>

  <body>
    <!-- 顯示toast的區塊 -->
    <div id="toast-panel"></div>
    <!-- 顯示confirm的區塊 -->
    <div id="confirm-panel"></div>

    <div id="confirm-overlay"></div>
    <div id="confirm-lock-zone">
      <nav class="nav-fixed">
        <div class="nav-logo">
          BYJT
        </div>
        <div class="nav-menu">
          <div class="nav-menu-btn"><i class="fas fa-bars"></i></div>
          <div class="nav-item-group">
            <a href="">
              <div class="nav-item">關於我們</div>
            </a>
            <a href="">
              <div class="nav-item">聯絡我們</div>
            </a>
            <div class="dropdown">
              <div class="drop-btn nav-item">貼文</div>
              <div class="drop-list">
                <a href="">
                  <div class="nav-item">分類</div>
                </a>
                <a href="">
                  <div class="nav-item">新增貼文</div>
                </a>
              </div>
            </div>
            <a href="">
              <div class="nav-item">商城</div>
            </a>
            <div class="dropdown">
              <div class="drop-btn nav-item">106021014</div>
              <div class="drop-list">
                <a href="">
                  <div class="nav-item">帳號設定</div>
                </a>
                <a href="">
                  <div class="nav-item">我的文章</div>
                </a>
                <a href="">
                  <div class="nav-item">訂單查詢</div>
                </a>
                <a href="">
                  <div class="nav-item">購物車</div>
                </a>
                <a href="">
                  <div class="nav-item">登出</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <main class="main">
        <!-- 主內容 -->
        <form action="" class="vc-layout">
          <div class="input-group">
            <div class="input-label">email</div>
            <input
              type="text"
              class="input-box"
              readonly
              title="不可修改註冊信箱"
              value="kkuuccff@gmail.com"
            />
          </div>
          <div class="input-group">
            <div class="input-label">暱稱</div>
            <input type="text" class="input-box" />
          </div>
          <div class="input-group">
            <div class="input-label">電話</div>
            <input type="text" class="input-box" />
          </div>
          <div class="input-group">
            <div class="input-label">生日</div>
            <input type="date" class="input-box" />
          </div>
          <div class="input-group">
            <div class="input-label">地址</div>
            <input type="text" class="input-box" />
          </div>
          <div class="input-group">
            <input type="submit" class="submit" value="修改" />
          </div>
        </form>
        <span id="alter-pwd-btn">修改密碼</span>
        <form action="" id="alter-pop" class="pop-window">
          <span class="pop-window-close-btn">
            <i class="fas fa-times" style="color: #c01111;"></i>
          </span>
          <div class="input-group">
            <div class="input-label">
              <i class="fas fa-lock"></i>&nbsp;&nbsp;新密碼
            </div>
            <input type="password" class="input-box" />
          </div>
          <div class="input-group">
            <div class="input-label">
              <i class="fas fa-lock"></i>&nbsp;&nbsp;確認密碼
            </div>
            <input type="password" class="input-box" />
          </div>
          <div class="input-group">
            <input type="submit" class="submit alt-submit" value="修改" />
          </div>
        </form>
      </main>
      <footer class="footer">
        Copyright © 2020 BYJT
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
  </body>
</html>
