.nav, .nav-fixed {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #444444;
    width: 100%;
}

.nav a, .nav-fixed a {
    text-decoration: none;
}

.nav-fixed {
    position: fixed;
    top: 0;
}

.nav-item, .nav-logo {
    padding: 20px 1.5vw;
    color: #EEEEEE;
    font-size: 20px;
}

.nav-logo {
    flex-grow: 1;
}

.nav-menu-btn {
    display: none;
}

.nav-item-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    background-color: #666666;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .nav-item-group{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background-color: #444444;
        left: 0;
        width: 100%;
        box-shadow: 0 3px 5px #CCCCCC;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 70vh;
    }

    .nav-item {
        text-align: center;
        width: 100%;
    }  

    .nav-menu-btn {
        display: block;
        padding: 20px 5vw;
        color: #CCCCCC;
    }

    .nav-menu-btn:hover {
        background-color: #666666;
        cursor: pointer;
    }


}