.toast, .toast-keep{
    position: relative;
    text-align: center;
    background-color: white;
    padding: 20px 40px;
    border-radius: 4px;
    min-width: 20vw;
    margin: 1vh;
    box-shadow: 0 3px 5px #CCCCCC;
}

.toast-success {
    color: #0f7955;
    background-color: #7cecb0;
}

.toast-fail {
    background-color: #ec8d8d;
    color: #9b2d2d;
}

#toast-panel, 
#toast-panel-left, 
#toast-panel-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    bottom: 0;
    position: fixed;
    z-index: 99;
    pointer-events: none;
}

#toast-panel {
    left: 0;
    right: 0;
}

#toast-panel-left {
    left: 0;
}

#toast-panel-right {
    right: 0;
}

.toast-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    pointer-events: initial;
}