.toast {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #ececec;
    padding: 20px 20px;
    border-radius: 4px;
    margin: 1vh;
    box-shadow: 0 3px 5px #CCCCCC;
    pointer-events: initial;
    overflow: hidden;
}
.toast-success {
    color: #0f7955;
    background-color: #7cecb0;
}

.toast-fail {
    background-color: #ec8d8d;
    color: #9b2d2d;
}

.toast-warn {
    background-color: #e0d646;
    color: #684c00;
}

#toast-panel, 
#toast-panel-left, 
#toast-panel-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    bottom: 0;
    position: fixed;
    z-index: 99;
    pointer-events: none;
}

#toast-panel {
    left: 0;
    right: 0;
}

#toast-panel-left {
    left: 0;
}

#toast-panel-right {
    right: 0;
}

.toast-close-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

.toast-icon {
   position: absolute;
   left: 15px;
}

.toast-msg {
    padding: 0 20px;
    max-width: 70vw;
    word-wrap: break-word;
    word-break: break-all;
}

@media screen and (max-width: 600px) {
    .toast-close-btn {
        font-size: 23px;
    }
}