/*垂直置中*/
.vc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*水平置右*/
.hr-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/*水平置中*/
.hc-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.full-container {
    height: 100%;
    width: 100%;
}
