.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.footer {
    padding: 5vh 0;
    text-align: center;
    color: #EEEEEE;
    background-color: #222222;
}