#alter-pwd-btn {
    font-size: 12px; 
    margin-top: 30px; 
    letter-spacing: 2px; 
    font-weight: bolder;
    cursor: pointer;
}

#alter-form {
    display: none;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 30px 20px;
    font-size: 14px;
}

.alt-submit {
    font-size: 14px;
}

#close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}