@import "./base.scss";
@import "../theme/default.scss";

.nav, .nav-fixed {
    @include hr-layout;
    background-color: $color-1;
    width: 100%;
    box-shadow: 0 3px 5px #CCCCCC;

    .nav-item-group {
        @include hc-layout;
    }

}

.nav-fixed {
    position: fixed;
    top: 0;
}



@media screen and (max-width: 600px) {

    .nav, .nav-fixed {
        z-index: 50;
        .nav-item-group{
            display: none;
            // @include vc-layout;
            position: absolute;
            background-color: $color-1;
            left: 0;
            width: 100%;
            box-shadow: 0 3px 5px #CCCCCC;
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 70vh;
        }
    }

}