@import "../theme/default.scss";
@import "../helpers/mixins.scss";

@mixin confirm-btn {
  cursor: pointer;
  bottom: 15px;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 12px;
}

#confirm-panel {
  @include panel;
  z-index: 56;
  height: 100vh;
  .confirm {
    @include pop;
    flex-direction: column;
    top: 0;
    min-width: 30vw;
    max-width: 500px;
    background-color: $color-2;

    .confirm-msg {
      text-align: center;
      width: 100%;
      padding: 20px 20px;
      border-bottom: #cccccc 1px solid;
    }

    .confirm-close-btn {
      @include rt-close-btn;
    }

    .confirm-btn-group {
      display: flex;
      justify-content: space-around;
      padding-top: 10px;
      width: 100%;

      .confirm-ok-btn {
        @include confirm-btn;
        left: 10px;
        background-color: #2d86b9;
        color: white;
      }
      .confirm-cancel-btn {
        @include confirm-btn;
        right: 10px;
        background-color: #dfdfdf;
        color: #666666;
      }
    }
  }
}

#confirm-lock-zone {
  background-color: white;
}

@media screen and (max-width: 600px) {
  .confirm-ok-btn {
    left: 10px;
    background-color: #2d86b9;
    color: white;
  }

  .confirm-cancel-btn {
    right: 10px;
    background-color: #dfdfdf;
    color: #666666;
  }
}

@media screen and (max-width: 300px) {
  .confirm-ok-btn,
  .confirm-cancel-btn {
    padding: 10px 20px;
    font-size: 10px;
  }
}
