@import "../theme/default.scss";
@import "../helpers/mixins.scss";

.pop-window {
  background-color: $color-2;
  @include pop;
  @include center-layout;
  position: fixed;
  display: none;
  .pop-window-close-btn {
    @include rt-close-btn;
  }
}
