@import "../theme/default.scss";
@import "../helpers/mixins.scss";

#toast-panel {
  @include panel;
  min-height: 90vh;
  z-index: 55;
}

.toast {
  @include pop;
  align-items: flex-start;
  background-color: $color-2;

  .toast-msg {
    padding: 0 20px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .toast-close-btn {
    @include rt-close-btn;
  }
}

.toast-success {
  color: #0f7955;
  background-color: #7cecb0;
}

.toast-error {
  background-color: #ec8d8d;
  color: #9b2d2d;
}

.toast-warn {
  background-color: #e0d646;
  color: #684c00;
}

@media screen and (max-width: 600px) {
  #toast-panel {
    flex-direction: column-reverse;
    justify-content: flex-start;
    .toast {
      max-width: 70vw;
      .toast-close-btn {
        font-size: 23px;
      }
    }
  }
}
