<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/master.css">
    <script defer src="../js/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <title>BYJT</title>
</head>

<body>
    <nav class="nav-fixed box-shadow-gray-2">
        <div class="nav-logo" style="font-family: NotoSansTC-Black;">
            BYJT
        </div>
        <div class="nav-menu">
            <div class="nav-menu-btn"><i class="fas fa-bars"></i></div>
            <div class="nav-item-group">
                <div class="nav-item">
                    關於我們
                </div>
                <div class="nav-item">
                    聯絡我們
                </div>
                <div class="nav-item">
                    貼文
                </div>
                <div class="nav-item">
                    商城
                </div>
                <div class="dropdown">
                    <div class=" drop-btn nav-item">106021014</div>
                    <div class="drop-list box-shadow-gray-2">
                        <div class="nav-item">帳號設定</div>
                        <div class="nav-item">我的文章</div>
                        <div class="nav-item">訂單查詢66666</div>
                        <div class="nav-item">購物車</div>
                        <div class="nav-item">登出</div>
                        <div class="nav-item">登出</div>
                        <div class="nav-item">登出</div>
                        <div class="nav-item">登出</div>
                        <div class="nav-item">登出</div>
                        <div class="nav-item">登出</div>
                        <div class="nav-item">登出</div>
                        <div class="nav-item">登出</div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="main">

        <form action="" class="vc-container">
            <input type="text" class="input-box" placeholder="帳號">
            <input type="text" class="input-box" placeholder="密碼">
            <input type="submit" class="submit" value="登入">
        </form>

    </main>

    <footer class="footer">
        Copyright © 2020 BYJT
    </footer>
</body>

</html>